= turbo_frame_tag("articles", src: knowledge_articles_path(q: @question), disabled: @question.blank?, class: "col-md-6 col-sm-12 pe-md-1") do
  - if @results.present?
    .card.mask.box
      .card-body
        %h4 Top article
        %p
          - article = Article.find(@results.first['article_id'])
          = link_to article.title, article.url

        %h4 More related articles
        %ul
          - @results[1..4].each do |r|
            - article = Article.find(r['article_id'])
            %li= link_to article.title, article.url
            /= "(#{r[:similarity]}%)"
            /%small= link_to "(use this)", knowledge_ask_path(question: @question.question, article_id: r[:article_id])

  - else # skeleton loader
    .card.mask.box.loader
      .card-body
        %h4 Loading top 5 articles
        %ol
          %li
            .skeleton.skeleton-text
          %li
            .skeleton.skeleton-text
          %li
            .skeleton.skeleton-text
          %li
            .skeleton.skeleton-text
          %li
            .skeleton.skeleton-text
