= turbo_frame_tag("geeko_answer", class: "col-md-6 col-sm-12") do
  .card.mask.box
    .card-body
      %h4 What does the Geeko say?
      %i.bi.bi-quote
      = auto_link(@answer)
      %i.bi.bi-quote
