= render 'search_form'

.mask.d-flex.align-items-center
  .container.d-flex

    .col-md-6.mb-6.mb-md-0
      .card.mask-custom.m-lg-4.m-md-3.m-sm-1.p-lg-3.p-md-2.p-sm-1.me-3.mb-0
        .card-body
          %h4 Top 5 articles

          %ol
            - @results.each do |r|
              - article = Article.find(r[:article_id])
              %li= link_to article.title, article.url
              /= "(#{r[:similarity]}%)"
              /%small= link_to "(use this)", knowledge_ask_path(question: @question.question, article_id: r[:article_id])

    .col-md-6.mb-6.mb-md-0
      .card.mask-custom.m-lg-4.m-md-3.m-sm-1.p-lg-3.p-md-2.p-sm-1.me-3.mb-0
        .card-body
          %h4 What does the Geeko say?
          %i.bi.bi-quote
          = auto_link(@answer)
          %i.bi.bi-quote
